@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46; /* zinc-700 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b; /* zinc-600 */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}

@layer utilities {
  .pb-safe {
    padding-bottom: max(env(safe-area-inset-bottom), 16px);
  }
  .pt-safe {
    padding-top: max(env(safe-area-inset-top), 24px);
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
